/*
** grid-colors.less
** MIT License
** https://github.com/IeuanK/grid.less
**
** Color defaults
 */

@color-primary: #5d89be;
@color-secondary: #8c959d;
@color-success: #6fbf87;
@color-danger: #dc626c;
@color-warning: #ffc472;
@color-info: #79b7b8;
@color-light: #f8f9fa;
@color-dark: #2c2c2c;

@color-border-primary: #5575aa;
@color-border-secondary: #7e878f;
@color-border-success: #4f9d67;
@color-border-danger: #b45a5a;
@color-border-warning: #cb9949;
@color-border-info: #5e9a9b;
@color-border-light: #a8a9aa;
@color-border-dark: #151515;

@color-text: @color-dark;

/*
** end of grid-colors.less
 */